h2{
	padding: auto;
	margin-left: 20px;
}

#modal-label{
	margin-right: auto;
}

#screen{
	width: 99%;
	background: black;
	color: white;
	border: solid;
}

.md{
	width: 90%;
}

.test{
	margin: auto;
	padding: 2px;
}

#carouselExampleIndicators {
	width: 25%;
	overflow: hidden;
	margin: auto;
	padding: auto;
}

.img{
	width: 15%;
	cursor: pointer;
}


.movies{
	display: table;
}


#menu-outer {
	height: 84px;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 25%;
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
	display: inline;
	width: 15%;
}

.price{
	float: right;
	font-weight: bold;
}

.rating {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 0%;
	left: 0%;
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.popup:hover .card-image-top {
	opacity: 0.3;
}

.popup:hover .rating {
	opacity: 1;
}

.card {
	position: relative;
	width: auto;
	float: left;
	width: 15%;
	font-size: 80%;
	margin: .2%;
	min-width: 80px;
}


.rate{
	background-color: rgba(0, 0, 0, 1);
	color: white;
	font-size: 80%%;
	font-weight: bold;
}

.date{
	background-color: rgba(0, 0, 0, .6);
	color: white;
	font-size: 70%;
	padding: auto;
}

.card a{
	width: 98%;
	font-size: 80%;
}

.card-title {
	font-size: 160%;
	font-weight: bold;
	text-overflow: ellipsis;
}

.movie-details {
	height: 100px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 80%;
}

.card-body{
	padding: 2%;
	font-size: 80%;
}

.row{
	height: 0;
}

.row-space{
	margin-left: 10%;
}

.modal-body{
	padding: 0;
}

.row-space button{
	margin-block-start: 2px;
	font-size: x-small;
}

.row-space-hot button{
	margin-block-start: 3px;
	font-size: x-small;
}

.row-space-hot {
	margin-top: 3%;
	margin-left: 10%;
}

.seats {
	margin-left: 10%;
	margin-bottom: 3%;
}

@media (max-width: 600px){
	.modal {
		width: 600px;
	}
}
